/* GENERAL */

body {
    background-color: white;
    font-family: 'Amatic SC';
    text-align: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Banner */
#slowCountryBanner{
    height: 250px;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* main comic image */
.comicSize{
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Modal trigger */
#randomComic {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #randomComic:hover {opacity: 0.7;}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  /* @media only screen and (max-width: 600px){
    .modal-content {
      width: 80%;
    }
  } */


/* navigation buttons */
/* .image{
    height: 30rem;
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.nav-button{
    height: 4rem;
    text-decoration: none;
    padding: 5px 10px 0px 10px;

}

.dice-roller{
    height: 5rem;
}

/* .nav-button{
    transition: height .75s;
} */

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    border: none;
    outline:none;       
}

.left-button:active {
    /* transform: translateY(4px); */
    transform: rotate(10deg);
    transition: all 0.5s;
  }

.middle-button:active {
/* transform: translateY(4px); */
transform: rotate(360deg);
transition: all 0.60s;
}

.right-button:active {
    /* transform: translateY(4px); */
    transform: rotate(-10deg);
    transition: all 0.5s;
  }

.socialMedia{
    height: 50px;
    padding: 10px 5px;
}

.socialButton:active{
    transform: translateY(4px);
}
/* .nav-button:hover{
    height: 5%;
    width: 5%;
} */


/* ARCHIVE */

/* .archiveTable{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
} */

.archive{
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 20px;
}

.thumbnail{
    height: 150px;
    width: 150px;
    padding: 30px;
}

/* Mobile Media Query */
@media only screen and (min-width: 320px) and (max-width: 767px){  
  #slowCountryBanner{
    height: 120px;
    padding-top: 30px;
  }
  .comicSize{
    height: 370px;
  }
  .nav-button{
    height: 48px;
    padding: 5px 2px 0px 2px;
  }
  .dice-roller{
    height: 58px;
  }
  .archive{
    margin: 0px;
    padding-top: 150px;
}
  .thumbnail{
    height: 80px;
    width: 80px;
    padding: 5px;
  }
}

  
/* iPad Media Query Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #slowCountryBanner{
    height: 200px;
  }
  .comicSize{
    height: 550px;
  }
  .nav-button{
    height: 60px;
  }
  .dice-roller{
    height: 70px;
  }
  .thumbnail{
    height: 80px;
    width: 80px;
    padding: 5px;
  }
}

/* iPad Media Query Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #slowCountryBanner{
    height: 140px;
  }
  .comicSize{
    height: 450px;
  }
  .nav-button{
    height: 50px;
  }
  .dice-roller{
    height: 60px;
  }
  .thumbnail{
    height: 100px;
    width: 100px;
    padding: 20px;
  }
}

/* Laptop Media Query */
@media only screen and (min-width: 1025px) and (max-width: 2500px) {
  #slowCountryBanner{
    height: 160px;
  }
  .comicSize{
    height: 550px;
  }
  .nav-button{
    height: 50px;
    text-decoration: none;
    padding: 5px 10px 0px 10px;
  }
  .dice-roller{
    height: 60px;
  }
}
