/* GENERAL */

body {
    background-color: white;
    font-family: 'Amatic SC';
    text-align: center;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

#slowCountryBanner{
    height: 250px;

}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* main comic image */
.comicSize{
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navigation buttons */
/* .image{
    height: 30rem;
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.nav-button{
    height: 4rem;
    text-decoration: none;
    padding: 5px 10px 0px 10px;

}

/* .nav-button{
    transition: height .75s;
} */

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    border: none;
    outline:none;       
}

.left-button:active {
    /* transform: translateY(4px); */
    transform: rotate(10deg);
    transition: all 0.5s;
  }

.middle-button:active {
/* transform: translateY(4px); */
transform: rotate(360deg);
transition: all 0.60s;
}

.right-button:active {
    /* transform: translateY(4px); */
    transform: rotate(-10deg);
    transition: all 0.5s;
  }

.socialMedia{
    height: 40px;
    padding: 10px 5px;
}

.socialButton:active{
    transform: translateY(4px);
}
/* .nav-button:hover{
    height: 5%;
    width: 5%;
} */


/* ARCHIVE */

/* .archiveTable{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
} */

.archive{
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 20px;
}

.thumbnail{
    height: 150px;
    padding: 30px;
}